*.sw*
.*.swp
*.log
*~

.ssh/
.pgpass
.gnu*/
.config
.cache

.*_history
.*conf
.serverless*
.vim/.*
.npm*
.viminfo
.local

.apex
.azure
.dbus
.eslint_d
.gem
.travis
.yarnrc
.node-gyp
.bash_env

workspace/
